<div
    vue-entry="TagManager.CopyDialog"
    default-site="{{ defaultSiteDecoded|json_encode }}"
    copy-type="{{ copyType }}"
    id-to-copy="{{ idToCopy }}"
    copy-nonce="{{ copyNonce }}"
    id-source-container="{{ idSourceContainer|default('') }}"
    id-container-version="{{ idContainerVersion|default(0) }}"
></div>