{% extends '@TagManager/tagmanager.twig' %}

{% set title = 'Dashboard_Dashboard'|translate %}

{% block content %}
    <div
        vue-entry="TagManager.ContainerDashboard"
        id-container="{{ container.idcontainer|json_encode }}"
        dashboard-help-text="{{ dashboardHelpText|json_encode }}"
        tags-help-text="{{ tagsHelpText|json_encode }}"
        triggers-help-text="{{ triggersHelpText|json_encode }}"
        variables-help-text="{{ variablesHelpText|json_encode }}"
        versions-help-text="{{ versionsHelpText|json_encode }}">
    </div>

{% endblock %}